<p><%= t(".hello", name: @admin.name) %></p>

<p>
  <%= t(".destroy_account_html") %>
</p>

<p>
  <% @initiatives.each do |initiative| %>
    - <%= initiative.id %> - <%= translated_attribute(initiative.title) %> - <%= I18n.t(initiative.state, scope: "decidim.initiatives.state") %> - <%= link_to I18n.t("manage"), decidim_admin_initiatives.edit_initiative_url(initiative, host: @organization.host) %>
  <% end %>
</p>

<p>
  <%= t(".destroy_account_explanation") %>
</p>
